.secondsGreen {
	font-size: 5rem;
	font-weight: bold;
	color: green;
}
.secondsOrange {
	font-size: 5rem;
	font-weight: bold;
	color: orange;
}
.secondsRed {
	font-size: 5rem;
	font-weight: bold;
	color: red;
}
